<<<<<<< HEAD
﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateRSO</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/dropDownMenu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/formLayout.css"/>


</head>
<body>
    <div class="navbar">
        <a href="~/Home/Home"> Home </a>
        <a href="~/Home/CreateEvent">Add Event</a>
        <a href="~/Home/CreateRSO">Add RSO</a>
        <a href="~/Home/CreateUniversity">Add University</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">
                Select University
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>

    <div class="form-style-2">
        <div class="form-style-2-heading">Provide the RSO Information</div>
        <form action="" method="post">
            <label for="field1"><span> RSO Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
            <label for="field2"><span>RSO Admin Email <span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label>


            <label for="field3">
                <span> Select the Host University</span> <select name="field3" class="select-field">
                    <!-- Change these to dynamic-->
                    <option value="RSO Event">RSO Event</option>
                    <option value="Public Event">Public Event</option>
                    <option value="Private Event">Private Event</option>
                </select>
            </label>
            <label for="field4"><span>Event Description <span class="required">*</span></span><textarea name="field4" class="textarea-field"></textarea></label>

            <div class="form-style-2-heading">Provide five emails to invite members</div>
            <label for="field5"><span>Member Email #1 <span class="required">*</span></span><input type="text" class="input-field" name="field5" value="" /></label>
            <label for="field6"><span>Member Email #2 <span class="required">*</span></span><input type="text" class="input-field" name="field6" value="" /></label>
            <label for="field7"><span>Member Email #3 <span class="required">*</span></span><input type="text" class="input-field" name="field7" value="" /></label>
            <label for="field8"><span>Member Email #4 <span class="required">*</span></span><input type="text" class="input-field" name="field8" value="" /></label>
            <label for="field9"><span>Member Email #5 <span class="required">*</span></span><input type="text" class="input-field" name="field9" value="" /></label>


            <label><span> </span><input type="submit" value="Submit" /></label>
        </form>
    </div>
</body>
</html>
=======
﻿@model Website.Models.CreateRsoModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateRSO</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
</head>
<body>
    <div>
        <form>
            <br />
            <div class="control-group">
                @Html.LabelFor(m => m.Name)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name)
                </div>
            </div>
            <br>
            <p>Please select your university from one of the following below</p>
            <br />
            <div class="control-group">
                @Html.LabelFor(m => m.Universities)
                <div class="controls">
                    @Html.DropDownListFor(m => m.SelectedUniversity, new SelectList(Model.Universities, "Id", "Name"), "-- Select University --")
                </div>
            </div>
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Description)
                <div class="controls">
                    @Html.TextAreaFor(m => m.Description, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>           
            <p>Submit below the emails of five other people you would like to join the RSO</p>
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member1)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member1, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member2)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member2, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member3)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member3, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member4)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member4, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member5)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member5, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />

            <br />
            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>

</body>
</html>
>>>>>>> ef66ef4a6d9a70ad4c750d35ebc6daa6f3be1c72
