@model Website.Models.CreateRsoModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateRSO</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
</head>
<body>
    <div>
        <form>
            <br />
            <div class="control-group">
                @Html.LabelFor(m => m.Name)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name)
                </div>
            </div>
            <br>
            <p>Please select your university from one of the following below</p>
            <br />
            <div class="control-group">
                @Html.LabelFor(m => m.Universities)
                <div class="controls">
                    @Html.DropDownListFor(m => m.SelectedUniversity, new SelectList(Model.Universities, "Id", "Name"), "-- Select University --")
                </div>
            </div>
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Description)
                <div class="controls">
                    @Html.TextAreaFor(m => m.Description, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>           
            <p>Submit below the emails of five other people you would like to join the RSO</p>
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member1)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member1, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member2)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member2, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member3)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member3, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member4)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member4, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />
            <br>
            <div class="control-group">
                @Html.LabelFor(m => m.Member5)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Member5, new { @rows = "5", @cols = "50" })
                </div>
            </div>
            <br />

            <br />
            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>

</body>
</html>
