@model Website.Models.UniversityModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateUniversity</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/dropDownMenu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/formLayout.css" />
</head>
<body>
    <div class="navbar">
        <a href="~/Home/Home"> Home </a>
        <a href="~/Home/JoinRSO">Join RSO</a>
        <a href="~/Home/CreateEvent">Add Event</a>
        <a href="~/Home/CreateRSO">Add RSO</a>
        <a href="~/Home/CreateUniversity">Add University</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">
                Select University
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>

    <div class="form-style-2">
        <div class="form-style-2-heading">Provide the University Information</div>
        @using (Html.BeginForm("AddUniversity", "Home"))
        {
            <label for="field1"><span>@Html.LabelFor(m => m.Name)</span>@Html.TextBoxFor(m => m.Name, new { @class = "input-field" })</label>          
            <label for="field2"><span>@Html.LabelFor(m => m.NumberOfStudents)</span>@Html.TextBoxFor(m => m.NumberOfStudents, new { @class = "input-field" })</label>
            <label for="field3"><span>@Html.LabelFor(m => m.Description)</span>@Html.TextAreaFor(m => m.Description, new { @rows = "5", @cols = "50" })</label>
            <label for="field4"><span>@Html.LabelFor(m => m.PrimaryAddress)</span>@Html.TextBoxFor(m => m.PrimaryAddress, new { @name = "address-line1", @placeholder = "123 SW Knights Way", @class = "input-field" })</label>
            <label for="field5"><span>@Html.LabelFor(m => m.SecondaryAddress)</span>@Html.TextBoxFor(m => m.SecondaryAddress, new { @name = "address-line1", @placeholder = "Building 8 Apt 312", @class = "input-field" })</label>
            <label for="field6"><span>@Html.LabelFor(m => m.City)</span>@Html.TextBoxFor(m => m.City, new { @name = "address-city", @placeholder = "Orlando", @class = "input-field" })</label>
            <label for="field7"><span>@Html.LabelFor(m => m.State)</span>@Html.TextBoxFor(m => m.State, new { @name = "address-state", @placeholder = "Florida", @class = "input-field" })</label>
            <label for="field8"><span>@Html.LabelFor(m => m.Zip)</span>@Html.TextBoxFor(m => m.Zip, new { @name = "address-zip", @placeholder = "32825", @class = "input-field" })</label>
            <label><span> </span><input type="submit" value="Submit" /></label>
        }
    </div>
</body>
</html>
