@model Website.Models.HomeModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Events Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
    }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 16px 32px;
            text-decoration: none;
        }

    .dropdown {
        float: left;
        overflow: hidden;
    }

        .dropdown .dropbtn {
            cursor: pointer;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
            background-color: red;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .show {
        display: block;
    }
    .tab-content {
        margin: 50px 0 20px 0;
    }

    .media > .pull-left {
        margin-right: 29px;
    }

    .media .dateEl {
        display: inline-block;
        text-align: center;
        background: #f9f9f9;
        padding: 18px 0 25px 0;
        color: #173d51;
        font-size: 16px;
        font-weight: 700;
        width: 113px;
        text-transform: uppercase;
    }

        .media .dateEl em {
            display: block;
            color: #662d91;
            font-size: 42px;
            line-height: 1;
            margin-bottom: 5px;
            font-style: normal;
        }

    .media .media-heading a {
        color: #022235;
        font-size: 21px;
        text-transform: uppercase;
    }

    .media .meta-data {
        margin: 0 0 7px 0;
    }

    .media .longDate, .media .timeEl {
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: 700;
        color: #636465;
        text-transform: uppercase;
        min-height: 16px;
    }

    .media .longDate {
        background: transparent url(../images/ico-calendar.png) no-repeat left top;
        padding: 0 10px 0 24px;
        border-right: 1px solid #eb5b4c;
        margin-right: 3px;
    }

    #tab1.tab-pane .media .longDate {
        border-right: none;
    }

    * {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .star {
        color: goldenrod;
        font-size: 2.0rem;
        padding: 0 1rem; /* space out the stars */
    }

        .star::before {
            content: '\2606'; /* star outline */
            cursor: pointer;
        }

        .star.rated::before {
            /* the style for a selected star */
            content: '\2605'; /* filled star */
        }

    .stars {
        counter-reset: rateme 0;
        font-size: 2.0rem;
        font-weight: 900;
    }

    .star.rated {
        counter-increment: rateme 1;
    }

    .stars::after {
        content: counter(rateme) '/5';
    }
</style>
</head>

<body>

    <div class="navbar">
        <a href="~/Home/Home"> Home </a>
        <a href="#news">Add Event</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">
                Dropdown
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-body">

                            @foreach (Website.Models.EventModel m in Model.Events)
                            {
                                <a class="pull-left" href="#"><span class="dateEl"><em>@m.Date.Day</em>@m.Month</span></a>

                                <h4 class="media-heading">
                                    <a href="#">@m.Name</a>
                                </h4>
                                <div class="meta-data">
                                    <span class="longDate">@m.Date.ToShortDateString()</span> <span class="timeEl">@m.Date.ToShortTimeString()</span>
                                </div>
                                <p>
                                    @m.Description
                                </p>

                                <!-- Add the UI for rating in the corresponding case -->
                                <div class="rating">
                                    @switch (@m.Rating)
                                    {
                                        case Contracts.RatingEnum.NotRated:
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            break;
                                        case Contracts.RatingEnum.OneStar:
                                            <span class="star rated"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            break;
                                        case Contracts.RatingEnum.TwoStars:
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            break;
                                        case Contracts.RatingEnum.ThreeStars:
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            break;
                                        case Contracts.RatingEnum.FourStars:
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            <span class="star"></span>
                                            break;
                                        case Contracts.RatingEnum.FiveStars:
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            <span class="star rated"></span>
                                            break;
                                        default:
                                            break;
                                    }
                                </div>
                                <br />
                                <br />
                            }

                         
                            
                     


                        </div><!-- / media-body -->
                    </div><!-- / media -->
                </div>
            </div>
        </div>
    </div>    
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }

        //initial setup
        document.addEventListener('DOMContentLoaded', function () {
            let stars = document.querySelectorAll('.star');
            stars.forEach(function (star) {
                star.addEventListener('click', setRating);
            });

            let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
            let target = stars[rating - 1];
            target.dispatchEvent(new MouseEvent('click'));
        });
        function setRating(ev) {
            let span = ev.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num = 0;
            stars.forEach(function (star, index) {
                if (match) {
                    star.classList.remove('rated');
                } else {
                    star.classList.add('rated');
                }
                //are we currently looking at the span that was clicked
                if (star === span) {
                    match = true;
                    num = index + 1;
                }
            });
            document.querySelector('.stars').setAttribute('data-rating', num);
        }
    </script>        
    </body>

</html>
